<div th:if="${#lists.isEmpty(zones)}" class="bg-white py-16 sm:py-24">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="text-center">
            <h1 class="mt-4 text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl">
                Bine ai venit pe pagina zonelor de cățărat
            </h1>
            <p class="mt-6 text-base font-medium text-gray-500 sm:text-lg sm:leading-8">
                Ne pare rău, momentan nu par să existe zone salvate. Încearcă să adaugi una nouă.
            </p>
            <p sec:authorize="isAnonymous()" class="mt-6 text-base font-medium text-gray-500 sm:text-lg sm:leading-8">
                Pentru a avea acces la această funcționalitate te rog să te autentifici.
            </p>
        </div>
    </div>
</div>

<div th:unless="${#lists.isEmpty(zones)}" class="bg-white py-16 sm:py-24">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="text-center">
            <h1 class="mt-4 text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl">
                Bine ai venit pe pagina zonelor de cățărat
            </h1>
            <p class="mt-6 text-base font-medium text-gray-500 sm:text-lg sm:leading-8">
                Explorează zonele de cățărat din apropiere.
            </p>
        </div>
        <div class="mt-8 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
            <div th:each="zone : ${zones}" 
                 class="rounded-lg bg-slate-100 p-6 text-center shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out transform hover:scale-105">
                <a th:href="@{/areas/{zoneId}(zoneId=${zone.id})}" class="block">
                    <h2 class="text-lg font-semibold text-gray-800 sm:text-xl" th:text="${zone.name}"></h2>
                    <p class="mt-2 text-sm text-gray-600 sm:text-base flex flex-wrap justify-center gap-2">
                        <span th:text="'Sectoare: ' + ${zone.getSectorCount}"></span>
                        <span th:text="'Trasee: ' + ${zone.getTotalRoutes}"></span>
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>