<div class="bg-white py-16 sm:py-24">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="text-center">
            <h1 class="mt-4 text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl">
                Bine ai venit pe pagina principală
            </h1>
            <p class="mt-6 text-lg font-medium text-gray-500 sm:text-xl sm:leading-8">
                Acest proiect face parte din portofoliul meu și a fost creat folosind Spring Boot.
            </p>
            <p class="mt-6 text-base text-gray-500 sm:text-lg sm:leading-8">
                Aplicația își propune să catalogheze traseele de cățărare naturale, aducând un omagiu acestui sport cu o istorie bogată.
            </p>
            <div class="mt-12 grid grid-cols-1 md:grid-cols-3 gap-8">
                <div class="border rounded-lg p-6 hover:bg-gray-100 transition duration-300 ease-in-out shadow">
                    <h3 class="text-2xl font-semibold mb-4">Vizitator</h3>
                    <ul class="pl-6">
                        <li>Navighează prin traseele adăugate</li>
                        <li>Vizualizează cele mai recente trasee</li>
                        <li>Selectează și evidențiază linii de traseu existente</li>
                    </ul>
                </div>

                <div class="border rounded-lg p-6 hover:bg-gray-100 transition duration-300 ease-in-out shadow">
                    <h3 class="text-2xl font-semibold mb-4">Utilizator</h3>
                    <ul class="pl-6">
                        <li class="pb-2 font-semibold">Toate privilegiile vizitatorului</li>
                        <li>Adăugă trasee noi în sectoare existente</li>
                        <li>Adăugă sectoare noi cu imagini</li>
                        <li>Adăugă zone de cățărare noi</li>
                        <li>Desenează linii pentru traseele existente care nu au una deja asociată</li>
                    </ul>
                </div>

                <div class="border rounded-lg p-6 hover:bg-gray-100 transition duration-300 ease-in-out shadow">
                    <h3 class="text-2xl font-semibold mb-4">Admin</h3>
                    <ul class="pl-6">
                        <li class="pb-2 font-semibold">Toate privilegiile utilizatorului</li>
                        <li>Șterge și resenează linii pentru traseele noi și existente</li>
                        <li>Șterge trasee în caz de forță majoră</li>
                    </ul>
                </div>
            </div>
            <p class="mt-12 text-base text-gray-500 sm:text-lg sm:leading-8">
                Așa că alege dintre rolurile mai sus menționate, testează aplicația și sper să-ți placă!
            </p>
        </div>
    </div>
</div>