<div class="mx-auto max-w-2xl lg:mx-0">
	<h2
		class="text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Lista Trasee</h2>
	<p class="mt-2 text-lg/8 text-gray-600">Descriere</p>
</div>
<div
	class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none">
	<ul role="list" class="divide-y divide-gray-100">
		<li class="flex justify-between gap-x-6 py-5"
			th:each="route : ${routes}">
			<div class="flex min-w-0 gap-x-4">
				<div class="min-w-0 flex-auto">
					<p class="text-sm/6 font-semibold text-gray-900"
						th:text="${route.getName}"></p>
					<p class="mt-1 truncate text-xs/5 text-gray-500"
						th:text="'Dificultate: ' + ${route.getDifficulty}"></p>
				</div>
			</div>
			<div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
				<p class="text-sm/6 text-gray-900"
					th:text="'Zona: ' + ${route.getSector.getZone.getName}"></p>
				<p class="mt-1 text-xs/5 text-gray-500"
					th:text="'Sector: ' + ${route.getSector.getName}"></p>
			</div>
		</li>
	</ul>
</div>