<div class="bg-white py-16 sm:py-24">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="text-center">
            <h1 class="mt-4 text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl">
                Bine ai venit pe pagina principală
            </h1>
            <p class="mt-6 text-lg font-medium text-gray-500 sm:text-xl sm:leading-8">
                Ne pare rău, momentan nu există mare lucru aici.
            </p>
            <p class="mt-6 text-base text-gray-500 sm:text-lg sm:leading-8">
                Așa că vom menționa cum activitatea de cățărare a fost întreprinsă, în mod istoric, de către proscrișii societății, 
                care, datorită laturii lor romantice, au căutat frumosul în inima naturii, în locuri unde doar fluturii de stâncă și 
                corbii le pot numi 'acasă'. Ulterior, această mișcare a căpătat un aspect sportiv, care le permite practicanților să 
                își măsoare forța, curajul și, mai important decât toate, controlul asupra propriei minți, împotriva pereților din 
                stâncă. Actualmente, acest sport, care putem considera că a ajuns să se maturizeze, având inclusiv probă olimpică, 
                a migrat către pereții artificiali interiori; însă, ar fi păcat să uităm originea sa și traseele naturale, care ne 
                aduc nenumărate stări de euforie și autocunoaștere. Această aplicație servește ca un mic omagiu pentru a cataloga 
                acest aspect.
            </p>
        </div>
    </div>
</div>