<div class="flex justify-center items-center min-h-screen bg-gray-50">
    <div class="bg-white p-10 rounded-lg shadow-xl w-full max-w-4xl">
        <h2 class="text-2xl font-semibold text-gray-800 mb-6">Adaugă traseu</h2>
        <p th:unless="${#lists.isEmpty(zones)}" class="text-sm text-gray-600 mb-8">Te rog introdu informațiile relevante</p>
        <div th:if="${#lists.isEmpty(zones)}" class="flex items-center gap-4 mb-8">
		    <div>
		    	<p class="text-sm text-gray-600">Te rog introdu informațiile relevante</p>
		    	<p class="text-sm text-gray-600">Sau poți începe prin a popula baza de date cu câteva informații predefinite</p>
		    </div>
		    <button onclick="populateDatabase()" class="px-6 py-2 bg-gray-800 text-white rounded-lg shadow-md hover:bg-gray-700 focus:ring-2 focus:ring-gray-500">Apăsând aici</button>
		</div>

        <div th:if="${errors != null && !errors.isEmpty()}" 
            class="bg-red-50 border border-red-400 text-red-700 px-4 py-3 rounded-lg shadow-md mb-6" 
            role="alert">
            <ul>
                <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
            </ul>
        </div>
        
		<form action="#" th:action="@{/add-route}" th:object="${routeForm}" method="post" enctype="multipart/form-data">
			<div class="pb-20">
				<div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
					<div class="sm:col-span-4">
						<label for="zone-selector" class="block text-sm/6 font-medium text-gray-900">Zonă:</label>
						<div class="mt-2">
							<select id="zone-select" th:field="*{zone}" onchange="toggleZoneInput(this)" class="mt-1 block w-full rounded-md border-gray-300 bg-white shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
								<option disabled value="" th:text="'Alege Zona'"></option>
								<option th:each="zone : ${zones}" th:data-zone-id="${zoneStat.index}" th:value="${zone.getName}" th:text="${zone.getName}"></option>
								<option value="new" class="font-semibold">Adaugă zonă nouă</option>
							</select>
						</div>
					</div>
	
					<div class="sm:col-span-4" id="new-zone-div" style="display: none;">
						<label for="new-zone" class="block text-sm/6 font-medium text-gray-900">Nume zonă nouă:</label>
						<div class="mt-2">
							<input type="text" name="newZone" id="new-zone" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" required placeholder="Adaugă nume zona...">
						</div>
					</div>
	
					<div th:if="${#lists.isEmpty(zones)}" class="sm:col-span-4">
						<label for="sector-selector" class="block text-sm/6 font-medium text-gray-900">Sector:</label>
						<div class="mt-2">
							<select id="sector-select" th:field="*{sector}" onchange="toggleSectorInput(this)" class="mt-1 block w-full rounded-md border-gray-300 bg-white shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
								<option disabled value="" th:text="'Alege sector'"></option>
								<option th:each="sector : ${sectors}" th:value="${sector.getName}" th:text="${sector.getName}"></option>
								<option value="new" class="font-semibold">Adaugă sector nou</option>
							</select>
						</div>
					</div>
	
					<div class="sm:col-span-4" id="new-sector-div" style="display: none;">
						<label for="new-sector" class="block text-sm/6 font-medium text-gray-900">Nume sector nou:</label>
						<div class="mt-2">
							<input type="text" name="newSector" id="new-sector" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" required placeholder="Adaugă nume sector...">
						</div>
						
						<label for="sector-image" class="block text-sm/6 font-medium text-gray-900 mt-4">Imagine sector:</label>
					    <div class="mt-2">
					        <input type="file" name="sectorImage" id="sector-image" class="block w-full text-gray-900 sm:text-sm/6" accept="image/*">
					    </div>
					</div>
	
					<div class="sm:col-span-4">
						<label for="name" class="block text-sm/6 font-medium text-gray-900">Numele rutei:</label>
						<div class="mt-2">
							<input type="text" name="name" id="name" th:field="*{name}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" required placeholder="Adaugă nume traseu...">
						</div>
					</div>
	
					<div class="sm:col-span-4">
						<label for="difficulty" class="block text-sm/6 font-medium text-gray-900">Dificultate rutei:</label>
						<div class="mt-2">
							<select id="difficulty" th:field="*{difficulty}" class="mt-1 block w-full rounded-md border-gray-300 bg-white shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
								<option value="" disabled selected>Selectează dificultatea</option>
								<option value="5a">5a</option>
								<option value="5a+">5a+</option>
								<option value="5b">5b</option>
								<option value="5b+">5b+</option>
								<option value="5c">5c</option>
								<option value="5c+">5c+</option>
								<option value="6a">6a</option>
								<option value="6a+">6a+</option>
								<option value="6b">6b</option>
								<option value="6b+">6b+</option>
								<option value="6c">6c</option>
								<option value="6c+">6c+</option>
								<option value="7a">7a</option>
								<option value="7a+">7a+</option>
								<option value="7b">7b</option>
								<option value="7b+">7b+</option>
								<option value="7c">7c</option>
								<option value="7c+">7c+</option>
								<option value="8a">8a</option>
								<option value="8a+">8a+</option>
								<option value="8b">8b</option>
								<option value="8b+">8b+</option>
								<option value="8c">8c</option>
							</select>
						</div>
					</div>
					
					<div class="sm:col-span-4">
						<label for="length" class="block text-sm/6 font-medium text-gray-900">Lungimea rutei:</label>
						<div class="mt-2">
							<input type="number" min="1" step="1" name="length" id="length" th:field="*{length}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" required placeholder="Adaugă lungime traseu...">
						</div>
					</div>
					
					<div class="sm:col-span-4">
						<label for="quickDraws" class="block text-sm/6 font-medium text-gray-900">Număr bucle:</label>
						<div class="mt-2">
							<input type="number" min="1" step="1" name="quickDraws" id="quickDraws" th:field="*{quickDraws}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" required placeholder="Adaugă numărul de bucle necesar...">
						</div>
					</div>
					
					<div class="sm:col-span-4">
						<label for="rating" class="block text-sm/6 font-medium text-gray-900">Frumusețea rutei:</label>
						<div class="mt-2">
							<select id="rating" th:field="*{rating}" class="mt-1 block w-full rounded-md border-gray-300 bg-white shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
								<option value="" disabled selected>Selectează frumusețea rutei</option>
								<option value="1">1 stea</option>
								<option value="2">2 stele</option>
								<option value="3">3 stele</option>
								<option value="4">4 stele</option>
								<option value="5">5 stele</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		
			<div class="flex justify-end">
	            <button type="submit" 
	                class="px-6 py-2 bg-gray-800 text-white rounded-lg shadow-md hover:bg-gray-700 focus:ring-2 focus:ring-gray-500">
	                Salvează
	            </button>
	        </div>
		</form>
	</div>
</div>

<script th:inline="javascript" defer>
	const jsonData = /*[[${jsonData}]]*/ {};
	const data = JSON.parse(jsonData);
	
	const zoneSelect = document.getElementById('zone-select');
	const newZoneDiv = document.getElementById('new-zone-div');
	const newZoneInput = document.getElementById('new-zone');
	const newSectorDiv = document.getElementById('new-sector-div');
	const newSectorInput = document.getElementById('new-sector'); 

	function toggleSectorInput(selectElement) {
	    if (selectElement.value === 'new') {
	        newSectorDiv.style.display = 'block';
	        newSectorInput.required = true; 
	        newSectorInput.value = '';
	    } else {
	        newSectorDiv.style.display = 'none';
	        newSectorInput.required = false; 
	        newSectorInput.value = selectElement.value;
	    }
	}
	
	function toggleZoneInput(selectElement) {
		if(selectElement.value == 'new') {
			newZoneDiv.style.display = 'block';
			newZoneInput.required = true;
			newZoneInput.value = '';
			createSectorSelect();
		} else {
			newZoneDiv.style.display = 'none';
			newZoneInput.required = false;
			createSectorSelect(selectElement);
		}
		
		toggleSectorInput(document.getElementById('sector-select'))
	}
	
	document.addEventListener('DOMContentLoaded', () => {
		if(zoneSelect.value === 'new') {
			newZoneDiv.style.display = 'block';
		} else {
			newZoneInput.value = zoneSelect.value;
			createSectorSelect(zoneSelect);
		}
		
		toggleSectorInput(document.getElementById('sector-select'))
	});
	
	function createSectorSelect(zoneSelectElement) {
		const currentSector = document.querySelector('.sector-wrapper')
		if(currentSector !== null) {
			currentSector.remove();
		}
		
		const sectorDiv = document.createElement('div');
		sectorDiv.className ='sm:col-span-4 sector-wrapper';
		
		let sectorHtml = `<label for="sector-selector" class="block text-sm/6 font-medium text-gray-900">Sector:</label>
			<div class="mt-2">
				<select id="sector-select"
					name="sector"
					onchange="toggleSectorInput(this)"
					class="mt-1 block w-full rounded-md border-gray-300 bg-white shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
					<option disabled value="">Alege sector</option>`;
		
		if(zoneSelectElement) {
			const zoneId = zoneSelectElement.options[zoneSelectElement.selectedIndex].dataset.zoneId;
			if(data[zoneId].name !== zoneSelectElement.value) {
				return;
			}
			
			const sectors = data[zoneId].sectors;
			
			sectors.forEach(sector => {
				sectorHtml += `<option value="${sector.name}">${sector.name}</option>`;
			});
		} 
		
		sectorHtml += `<option value="new" class="font-semibold">Adauga sector nou</option></select></div>`;
			
		sectorDiv.innerHTML = sectorHtml;
		newSectorDiv.parentNode.insertBefore(sectorDiv, newSectorDiv);
	}
	
	function populateDatabase() {
	    fetch('/populate-db')
	        .then(response => {
	            if (response.ok) {
	                window.location.href = '/areas';
	            } else {
	                return response.text().then(errorMessage => {
	                    throw new Error(errorMessage);
	                });
	            }
	        })
	        .catch(error => {
	            alert('A apărut o problemă în timpul populării bazei de date. Te rog să repornesti aplicația.');
	        });
	}
</script>