<div th:if="${zone != null}" class="pb-10">
	<div th:replace="fragments/breadcrumbs :: breadcrumbContent"></div>
</div>

<div th:unless="${#lists.isEmpty(zone.sectors)}" class="mx-auto max-w-7xl px-6 lg:px-8">
	<div class="text-center">
		<h1 class="mt-4 text-balance text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">
			Sectoare pentru zona: 
			<span th:text="${zone.name}"></span>
		</h1>
		<p class="mt-6 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">
			Explorează sectoarele de cățărat din zonă
		</p>
	</div>
	
	<div th:if="${zone != null}" class="mt-8 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
		<div th:each="sector : ${zone.sectors}" class="rounded-lg bg-slate-100 p-6 text-center shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out transform hover:scale-105">
			<a th:href="@{/areas/{zoneId}/sectors/{sectorId}(zoneId=${zone.id}, sectorId=${sector.id})}" class="block">
				<h2 class="text-xl font-semibold text-gray-800" th:text="${sector.name}"></h2>
				<p class="mt-2 text-gray-600">
					<span th:text="'Trasee: ' + ${sector.routeCount}"></span>
				</p>
			</a>
		</div>
	</div>
</div>

