<div th:unless="${#lists.isEmpty(routes)}" class="pb-10">
	<div th:replace="fragments/breadcrumbs :: breadcrumbContent"></div>
</div>

<div th:if="${#lists.isEmpty(routes)}" class="bg-white py-24 sm:py-32">
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
		<div class="text-center">
			<h1 class="mt-4 text-balance text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">
				Welcome to the recently added page
			</h1>
			<p class="mt-6 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">
				Ne pare rău, momentan nu par să existe trasee salvate. Încearcă să adaugi unul nou
			</p>
		</div>
	</div>
</div>

<div th:unless="${#lists.isEmpty(routes)}" class="max-w-7xl px-6 lg:px-8">
	<div class="mx-auto max-w-2xl lg:mx-0">
		<h2 class="text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Listă Trasee</h2>
		<p class="mt-2 text-lg/8 text-gray-600">Descriere</p>
	</div>
	<div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none">
		<ul role="list" class="divide-y divide-gray-200">
		    <li class="flex flex-col sm:flex-row items-start justify-between gap-x-6 py-5" th:each="route : ${routes}">
		        <div class="flex flex-col mt-4 sm:mt-0 leading-normal">
		            <p class="text-lg m-0 font-semibold text-gray-900" th:text="${route.getName}"></p>
		            <p class="flex m-0 items-center mt-1 text-sm text-gray-500">
		                <span th:text="'Frumusețe: '"></span>
		                <span class="text-yellow-400 ml-1" th:each="i : ${#numbers.sequence(1, route.getRating)}">★</span>
		                <span class="ml-2 text-gray-500" th:text="'(' + ${route.getRating} + ' stele)'"></span>
		            </p>
		        </div>
		
		        <div class="flex flex-col mt-4 sm:mt-0 sm:pt-2 leading-normal">
		            <p class="text-sm m-0 text-gray-600">
		                <span class="font-medium text-gray-900">Zonă:</span> 
		                <span th:text="${route.getSector.getZone.getName}"></span>
		            </p>
		            <p class="text-sm m-0 text-gray-600 mt-1">
		                <span class="font-medium text-gray-900">Sector:</span> 
		                <span th:text="${route.getSector.getName}"></span>
		            </p>
		        </div>
		
		        <div class="flex flex-col mt-4 sm:mt-0 sm:pt-2 text-right leading-normal">
		            <p class="text-sm m-0 text-gray-600">
		                <span class="font-medium text-gray-900">Lungime:</span> 
		                <span th:text="${route.getLength} + ' metri'"></span>
		            </p>
		            <p class="text-sm m-0 text-gray-600 mt-1">
		                <span class="font-medium text-gray-900">Număr bucle:</span> 
		                <span th:text="${route.getQuickDraws}"></span>
		            </p>
		        </div>
		    </li>
		</ul>
	</div>
</div>


